@import 'material-icons/iconfont/material-icons.css';

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

// Color variables
$color-text: #213547;
$bg-light: #ffffff;
$bg: #d8e1e1;
$link-hover: #747bff;
$btn-bg: #6366f1;
$btn-bg-2: #10b981;
$btn-hover-border: #646cff;
$select-active-bg: #00a4c9;

* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

body {
  background-color: $bg;
  margin: 0;
}

button,
select {
  cursor: pointer;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $btn-bg;
  transition: border-color 0.25s;
}

select {
  &:active,
  &:focus,
  &:hover {
    cursor: pointer;
  }
}

.none {
  display: none;
}

select,
textarea {
  background: none;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: .9rem;
  outline: none;
}

.remove-button {
  padding: 0;
  position: absolute;
  font-size: 110%;
  top: 150px;
  color: darkred;
  right: 30px;
  display: inline;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
}
